PriceHumanizerDesktopClient/Connected Services/PriceHuminizerHostServiceReference/Interviews.VM.PriceHumanizer.ServiceDefinition.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Interviews.VM.PriceHumanizer.ServiceDefinition.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interviews.VM.PriceHumanizer.ServiceDefinition.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PriceHumanizerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceHumanizerRequest" nillable="true" type="tns:PriceHumanizerRequest" />
  <xs:complexType name="PriceHumanizerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="humanizedPrice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceHumanizerResponse" nillable="true" type="tns:PriceHumanizerResponse" />
</xs:schema>