PriceHumanizerDesktopClient/Connected Services/PriceHuminizerHostServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Interviews.VM.PriceHumanizer.ServiceDefinition.Messages" />
  <xs:element name="HumanizePrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Interviews.VM.PriceHumanizer.ServiceDefinition.Messages" minOccurs="0" name="request" nillable="true" type="q1:PriceHumanizerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HumanizePriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Interviews.VM.PriceHumanizer.ServiceDefinition.Messages" minOccurs="0" name="HumanizePriceResult" nillable="true" type="q2:PriceHumanizerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>